<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>
<body>

	<div th:fragment="fancytree">
	
  	<script src="/library/lib/jquery.js"></script>
  	<script src="/library/lib/jquery-ui.custom.js"></script>
  	<script src="/library/src/jquery-ui-dependencies/jquery.fancytree.ui-deps.js"></script>
  	<script src="/library/src/jquery.fancytree.js"></script>
  	<script src="//cdn.jsdelivr.net/npm/jquery-contextmenu@2.9.2/dist/jquery.contextMenu.min.js"></script>
  	<script src="/library/3rd-party/extensions/contextmenu/js/jquery.fancytree.contextMenu.js"></script>
  	
  	<script src="/list/fancytree.js"></script>
  	
  <h1>OPC DA Client Demo tree view</h1>
  <div class="description">
    this div description of OPC DA Client.
  </div>
  
  <div id="tree">
    <ul id="treeData" style="display: none;">
      <li id="id1" >Folder for OPC DA test
        <ul>
          <li id="id1.1">Sub-item 1.1
            <ul>
              <li id="id1.1.1">Sub-item 1.1.1
              <li id="id1.1.2">Sub-item 1.1.2
              <li id="id1.1.3">Sub-item 1.1.3
            </ul>
          <li id="id1.2">Sub-item 1.2
            <ul>
              <li id="id1.2.1">Sub-item 1.2.1
              <li id="id1.2.2">Sub-item 1.2.2
            </ul>
        </ul>
      <li id="id2" class="expanded">LocalHost IP
        <ul>
          <li id="id2.1"  class="folder">KepWare.KEPServerEX.V6
            <ul>
              <li id="id2.1.1">Sub-Group test1
              <li id="id2.1.2">Sub-Group test2
            </ul>
          <li id="id2.2" class="folder">Matrikon.OPC.Simulation.1
            <ul>
              <li id="id2.2.1">Group0
              <li id="id2.2.2">Group1
            </ul>
        </ul>
    </ul>
  </div>
	
 </div>
</body>

</html>
