<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="itemsModal">
	<div id="myModal" class="modal">
  		<div class="modal-content">
    		<div class="grid-container">

      	<div class="box">
        	<div class="box-title">
          		Available Items in Server 'Matrikon.OPC.Simulation.1'
        	</div>
        	<div class="scroll-area" id="availableItems">
        	</div>
      	</div>

      	<div class="box">
        	<div class="box-title">
          		Tags to be Added
        	</div>
        	<div class="scroll-area" id="tagsToBeAdded">
        	</div>
      	</div>

      	<div class="box">
        	<div class="box-title">
          		Selected Branches "NewAlias2.NewAlias3":
        	</div>
        	<p>Available Tags</p>
        	<div class="scroll-area" id="availableTags">
        	</div>
      	</div>

      	<div class="bottom-right-cell">
        	<div class="group-info">
          		<strong>현재 선택한 그룹 :</strong> <span id="currentGroup">Group0</span>
        	</div>

        	<div class="button-container">
          		<button id="okBtn" class="btn btn-primary">OK</button>
          		<button id="cancelBtn" class="btn btn-secondary">Cancel</button>
        	</div>
      	</div>

    </div>
  </div>
</div>
	<script>
  		const myModal = document.getElementById('myModal');
  		const okBtn = document.getElementById('okBtn');
  		const cancelBtn = document.getElementById('cancelBtn');

  		okBtn.onclick = () => {
    		alert("OK 버튼을 눌렀습니다.");
    		myModal.classList.remove('active');
  		};

  		cancelBtn.onclick = () => {
  			myModal.classList.remove('active');
  		};

  		myModal.onclick = (event) => {
    		if (event.target === myModal) {
    			myModal.classList.remove('active');
    		}
  		};
	</script>
</div>
</body>
</html>
