<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<div th:fragment="footer">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Source</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
        <!--   	<tr th:each="event : ${events}">
                	<td th:text="${event.date}"></td>
                	<td th:text="${event.time}"></td>
                	<td th:text="${event.source}"></td>
                	<td th:text="${event.event}"></td>
            	</tr>  -->
                <tr>
                    <td>2025-02-10</td>
                    <td>8:23:59 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Runtime service started.</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:23:59 오후</td>
                    <td>Simulator</td>
                    <td>Starting Simulator device driver.</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:23:59 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Configuration session started by ocean as Default User (R/W).</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:00 오후</td>
                    <td>Simulator</td>
                    <td>Advanced Tags Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
                <tr>
                    <td>2025-02-10</td>
                    <td>8:24:01 오후</td>
                    <td>KEPServerEX Runtime</td>
                    <td>Data Logger Plugin V6.13.250.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>
