<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>OPC DA Client</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header th:replace="fragments/header :: header"></header>

    <div class="container">
        <aside class="left" th:replace="fragments/body-left :: body-left"></aside>

        <main class="right" th:replace="fragments/body-right :: body-right"></main>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>