<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>OPC DA Client</title>
    <link th:href="@{/layout/layout.css}" rel="stylesheet" />
    <link th:href="@{/fragment/footer.css}" rel="stylesheet" />
    <link th:href="@{/popup/create-items.css}" rel="stylesheet" />
    <link th:href="@{/popup/create-group.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div th:replace="~{fragment/header :: header}"></div>
    </div>

    <div class="body-left">
    	<div th:replace="~{fragment/body-left :: body-left}"></div>
    </div>
    <div class="body-right">바디 오른쪽</div>

    <div>
        <div th:replace="~{fragment/footer :: footer}"></div>
    </div>

</body>
</html>